*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    border: 2px double red;
    font-size:1.5rem;
    padding:1em;
    margin: 1.5em 2em 2em;
    /* margin-top: 1.5em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 2em; */
}
.container:hover{
    border-bottom: 10px double red;
    border-right: 10px double red;
    outline: 5px solid purple;
    outline-offset: -20px;
}
.circle{
    margin:3rem auto;
    width:100px;
    height: 100px;
    background-color: gold;
    border: 2px solid #000;
    outline: 2px solid red;
    outline-offset: 0.25rem;
    border-radius: 50px;
}