body{
    font-size: 2rem;
    font-family: "Roboto",sans-serif;
}

/* main{
    background-color: gold;
    width:50%;
} */

p{
    background-color: gray;
    
}
.opposite{
    display: inline-block;
    background-color: #333;
    color: whitesmoke;
    padding:4rem;
    margin-top: 100px;
    height: 200px;
}